<li>
    <div class="comment-head">
        <h5 class="commenter-name"><i class="fas fa-user-circle" style="color: cadetblue;"></i> &nbsp;<%= comment.user.name %></h5>
        <div class="del-comment">
            <% if(locals.user && locals.user.id === comment.user.id ){ %>
                <a href="/comments/destroy/<%= comment.id %>"><i class="fas fa-trash-alt"></i></a>
            <% } else { %>
            <% if(locals.user && locals.user.id === post.user.id ){ %>
                <a href="/comments/postownerDestroy/<%= comment.id %>"><i class="fas fa-trash-alt"></i></a>
            <% } } %>
        </div>
    </div>

    <div class="comment-content">
        <p><%= comment.content %></p>
    </div>
</li>