<header>
    <nav>
        <h3>Rajendra's social Media</h3>
        <ul>
            <% if(locals.user) { %>
                <li>
                    <a href="/users/profile/<%= user.id %>" ><%= user.name %></a>
                </li>
                <li>
                    <a href="/users/signout" style="background-color: tomato; color: aliceblue;">Sign Out</a>
                </li>
            <% } else { %>
                <li>
                    <a href="/users/signin" style="background-color: rgb(71, 145, 255); color: aliceblue;">Sign In</a>
                </li>
                <li>
                    <a href="/users/signup" style="background-color: rgb(151, 4, 170); color: aliceblue;">Sign Up</a>
                </li>
    
            <% }%>
        </ul>
    </nav>
</header>