<header>
    <nav>
        <h3><a href="/"><img src="/images/fblogo.png" id="logo" alt="">&nbsp;Facebook</a></h3>
        <ul>
            <% if(locals.user) { %>
                <li>
                    <a href="/users/profile/<%= user.id %>" style="color : #1778F2;" ><%= user.name %></a>
                </li>
                <li>
                    <a href="/users/signout" style="background-color: tomato; color: aliceblue; ">Sign Out</a>
                </li>
            <% } else { %>
                <li><a href="/users/signin" style="color: #1778F2;">Sign In</a>
                </li>
                <li>
                    <a href="/users/signup" style="color: #1778F2;">Sign Up</a>
                </li>
    
            <% }%>
        </ul>
    </nav>
</header>