<h1>Social Media / <%= title %></h1>

<section id="feed-posts">
    <h4>Write a post</h4>
    <form action="" method="POST" id="new-post-form" >
        <textarea name="content" cols="30" rows="3"></textarea>
        <input type="submit" value="Post">
    </form>
</section>
