<link rel="stylesheet" href="/css/posts.css">

<h1>Social Media / <%= title %></h1>

<section id="feed-posts">
    <% if(locals.user){ %>
        <h4>Write a post</h4>
        <form action="/posts/create" method="POST" id="new-post-form" >
            <textarea name="content" cols="30" rows="3" placeholder="What's on your mind ?"></textarea>
            <input type="submit" value="Post">
        </form>
    <% } %>
</section>
<section id="all-posts">
    <% for(let post of posts) { %>
        <div class="post-div">
            <h4><%= post.user.name %></h4>
            <p><%= post.content %></p>
        </div>
    <% } %>
</section>
