<link rel="stylesheet" href="/css/signin.css">
<main class="signin-form">
    <img src="/images/signin-bg.jpg" alt="" class="left-bg">
    <form action="" method="post" class="right-signin-form">
        <div class="signin-head">
            <i class="fas fa-user-lock signin-icon"></i>
            <h1>Sign In</h1>
        </div>
        <!-- <input type="text" name="name" id="username" placeholder="Enter your name"> -->
        <input type="email" name="email" id="useremail" placeholder="Enter your email">
        <input type="password" name="password" id="userpw" placeholder="Enter your password">
        <button type="submit" class="submit-btn">Log In</button>
    </form>
</main>