<link rel="stylesheet" href="/css/signin.css">
<main class="signin-form">
    <img src="/images/signin-bg.png" alt="" class="left-bg">
    <form action="/users/create-session" method="post" class="right-signin-form">
        <div class="signin-head">
            <i class="fas fa-user-lock signin-icon"></i>
            <h1>Sign In</h1>
        </div>
        <!-- <input type="text" name="name" id="username" placeholder="Enter your name"> -->
        <input type="email" name="email" id="useremail" placeholder="Enter your email">
        <input type="password" name="password" id="userpw" placeholder="Enter your password">
        <button type="submit" class="submit-btn">Log In</button>
    </form>
    <div>
        <p>or</p>
        <a class="google-signin" href="/users/auth/google"><i class="fab fa-google"></i>&nbsp;Sign in with Google</a>
    </div>
</main>