header{
    width: 100%;
    display: flex;
    position: sticky;
    top: 0%;
    height: 80px;
    z-index: 11111;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid #1778F2;
    color: #1778F2;

    nav{
        width: 90%;
        padding: 20px 0px;
        // border: 1px solid yellow;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h3{
            width: 100%;
            align-self: flex-start;

            a{
                text-decoration: none;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: #1778F2;    
                
                #logo{
                    width: 50px;
                    height: 50px;
                }
            }
        }
        ul{
            width: 100%;
            // border: 1px solid  green;
            list-style: none;
            padding: 0%;
            margin: 0%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            li{

            // border: 1px solid orange;

                a{
                    padding: 5px 10px;
                    text-decoration: none;
                    color: aliceblue;
                    border: none;
                    border-radius: 30px;
                    border : 1.5px solid #1778F2;
                    font-size: 14px;
                    margin: 3px;
                }
            }
        }
    }
}