.post-div{
    width: 90%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 30px;
    background-color: white;
    border:none;
    // border-radius: 15px;
    border-bottom: 2px solid #1a6eec;
    // box-shadow: 5px 5px 10px gray;

    .post-head{
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .user-name{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-left: 10px;

            img{
                width: 40px; 
                height: 40px; 
                border-radius: 30px; 
                border: 1.5px solid #1a6eec; 
                margin-right: 3px;
                // box-shadow: 2px 2px 4px gray;

            }
        }

        .post-del-btn{
            width: 40px;
            height: 40px;

            a{
                width: 100%;
                height: 100%;
                color: tomato;
                text-decoration: none;
            }
        }
    }

    .post-content{
        width: 90%;
        text-align: start;
    }

    .post-comment{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 10px;

        form{
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            input{
                width: 300px;
                height: 30px;
                padding: 2px 10px;
                flex-grow: 1;
                border-radius: 60px;
                border: 1px solid rgba(201, 201, 201, 0) ;
                background-color: rgb(236, 236, 236);
                // box-shadow:inset 3px 3px 6px gray;


                // border : 1px solid purple;
            }
            button{
                width: 30px;
                height: 30px;
                margin-left: 10px;
                border-radius: 30px;
                border:none;
                color: white;
                background-color: blueviolet;
            }
        }

        .post-comments-list{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            ul{
                width: 100%;
                padding: 0%;
                margin: 0%;
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                list-style: none;

                li{
                    width: 80%;
                    margin: 5px 0px;
                    padding: 0px 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    flex-wrap: wrap;
                    border-radius: 20px;
                    background-color: rgb(213, 235, 255);
                    // box-shadow:inset 3px 3px 6px gray;



                    .comment-head{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;

                        .commenter-name{
                            width: 90%;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            text-decoration: none; 
                            color: rgb(41, 41, 41);

                            img{
                                margin-right: 3px;
                                // box-shadow: 2px 2px 4px gray;

                            }
                            
                        }

                        .del-comment{
                            align-self: flex-end;
                            width: 20px;
                            height: 20px;

                            a{
                                width: 10px;
                                height: 10px;
                                color: tomato;
                            }
                        }
                    }

                    .comment-content{
                        padding: 0%;
                        color: rgb(43, 43, 43);
                        display: flex;
                        width: 100%;
                        flex-direction: row;
                        justify-content: start;
                        align-items: center;
                        flex-wrap: wrap;

                        p{ 
                            text-align: start;
                            word-break: break-all 
                        }
                    }

                }
            }
        }
    }
}