#all-posts{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;

    .post-div{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 5px 5px rgb(83, 83, 83);
        border: none;
        border-radius: 15px;
    }
}