<div style="text-align: center; background-image: url('https://images.unsplash.com/photo-1528756514091-dee5ecaa3278?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80'); background-position: center; background-size: cover; background-repeat: no-repeat; padding: 20px; width: 90%; min-height: 300px; border-radius: 30px; border: none;">
    <h3 style="color: rgb(85, 0, 170);">Hi <%= postOwner.name %></h3>
    <br>
    <p style="color: black;"><%= comment.user.name %> commented <br>
         "<%= comment.content %>" on your post</p>
</div>
