header {
  width: 100%;
  display: flex;
  position: sticky;
  top: 0%;
  height: 80px;
  z-index: 11111;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom: 3px solid #1778F2;
  color: #1778F2; }
  header nav {
    width: 90%;
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    header nav h3 {
      width: 100%;
      align-self: flex-start; }
      header nav h3 a {
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #1778F2; }
        header nav h3 a #logo {
          width: 50px;
          height: 50px; }
    header nav ul {
      width: 100%;
      list-style: none;
      padding: 0%;
      margin: 0%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center; }
      header nav ul li a {
        padding: 5px 10px;
        text-decoration: none;
        color: aliceblue;
        border: none;
        border-radius: 30px;
        font-size: 14px;
        margin: 3px; }
