body {
  margin: 0%;
  padding: 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  min-width: 700px;
  background-color: white; }
  body .flash-message {
    width: 100%;
    padding: 5px 10px;
    background-color: #04ad88;
    color: #eeeeee;
    border-radius: 10px;
    text-align: center; }
  body #layout-main {
    width: 100%;
    min-height: 80vh;
    background-color: #ffffff;
    color: #111111;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; }
