.post-div {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
  padding-bottom: 30px;
  background-color: white;
  border: none;
  border-bottom: 2px solid #1a6eec; }
  .post-div .post-head {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .post-div .post-head .user-name {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-left: 10px; }
      .post-div .post-head .user-name img {
        width: 40px;
        height: 40px;
        border-radius: 30px;
        border: 1.5px solid #1a6eec;
        margin-right: 3px; }
    .post-div .post-head .post-del-btn {
      width: 40px;
      height: 40px; }
      .post-div .post-head .post-del-btn a {
        width: 100%;
        height: 100%;
        color: tomato;
        text-decoration: none; }
  .post-div .post-content {
    width: 90%;
    text-align: start; }
  .post-div .post-comment {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px; }
    .post-div .post-comment .post-comment-bar {
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px; }
      .post-div .post-comment .post-comment-bar .like-btn-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        margin-right: 10px; }
        .post-div .post-comment .post-comment-bar .like-btn-div .like-btn {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          background-color: white;
          border: 1px solid #1a6eec;
          text-decoration: none;
          border-radius: 30px;
          color: grey; }
        .post-div .post-comment .post-comment-bar .like-btn-div p {
          margin: 0px;
          padding: 0px; }
      .post-div .post-comment .post-comment-bar form {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
        .post-div .post-comment .post-comment-bar form input {
          width: 300px;
          height: 30px;
          padding: 2px 10px;
          flex-grow: 1;
          border-radius: 60px;
          border: 1px solid rgba(201, 201, 201, 0);
          background-color: #ececec; }
        .post-div .post-comment .post-comment-bar form button {
          width: 30px;
          height: 30px;
          margin-left: 10px;
          border-radius: 30px;
          border: none;
          color: white;
          background-color: blueviolet; }
    .post-div .post-comment .post-comments-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap; }
      .post-div .post-comment .post-comments-list ul {
        width: 100%;
        padding: 0%;
        margin: 0%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        list-style: none; }
        .post-div .post-comment .post-comments-list ul li {
          width: 80%;
          margin: 5px 0px;
          padding: 0px 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          flex-wrap: wrap;
          border-radius: 20px;
          background-color: #d5ebff; }
          .post-div .post-comment .post-comments-list ul li .comment-head {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center; }
            .post-div .post-comment .post-comments-list ul li .comment-head .commenter-name {
              width: 90%;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              text-decoration: none;
              color: #292929; }
              .post-div .post-comment .post-comments-list ul li .comment-head .commenter-name img {
                margin-right: 3px; }
            .post-div .post-comment .post-comments-list ul li .comment-head .del-comment {
              align-self: flex-end;
              width: 50px;
              height: 20px; }
              .post-div .post-comment .post-comments-list ul li .comment-head .del-comment a {
                width: 10px;
                height: 10px;
                color: tomato; }
          .post-div .post-comment .post-comments-list ul li .comment-content {
            padding: 0%;
            color: #2b2b2b;
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            flex-wrap: wrap; }
            .post-div .post-comment .post-comments-list ul li .comment-content p {
              text-align: start;
              word-break: break-all; }
