.user-profile-img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: none;
  margin-bottom: 20px;
  border: 3px solid #488ef8; }

#update-profile-form input {
  text-align: center;
  background-color: white;
  border: 2px solid #1a6eec;
  border-radius: 10px;
  padding: 5px; }

#update-profile-form button {
  margin-top: 20px;
  padding: 8px 16px;
  color: white;
  background-color: #1a6eec;
  border-radius: 90px;
  border: none; }
